<footer>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">	
			<div class="content-padding">
				<div class="footer-content">
					<center><p>Copyright &copy; 2016 Evelio Velez Jr.</p></center>
				</div>
			</div>
		</div>
	</div>
</footer>