<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title }}</title>


<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<style>

	#showSuggestions {
		display: inline-block;
/*		margin:150px auto;
		max-width:400px;*/
	}

    input#search {
		padding: 0px;
		font-size: 1.5em;
		letter-spacing: 0;
		font-weight: normal;
		position: relative;
		margin-top: 3px;
		color: #000;
		width: 95%;
		background: #fff;
		border: 2px solid #fff;
		z-index: 10;
	}

</style>

</head>

